ARCH?=ARM
TARGET?=lpc
SIGN?=ED25519
MCUXPRESSO?=${SDK_PATH}
MCUXPRESSO_CPU?=LPC54616J512BD100
MCUXPRESSO_DRIVERS?=${MCUXPRESSO}/devices/LPC54616
MCUXPRESSO_CMSIS?=${MCUXPRESSO}/CMSIS
DEBUG?=0
HASH?=SHA256
VTOR?=1
CORTEX_M0?=0
NO_ASM?=0
EXT_FLASH?=0
SPI_FLASH?=0
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=0
WOLFBOOT_VERSION?=0
V?=0
SPMATH?=1
RAM_CODE?=0
DUALBANK_SWAP?=0
IMAGE_HEADER_SIZE?=256
PKA?=1
WOLFBOOT_PARTITION_SIZE?=0x38000
WOLFBOOT_SECTOR_SIZE?=0x8000
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x8000
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x40000
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x78000
